MONGODB_URI=mongodb://localhost:27017/libro_guardia_db
JWT_SECRET=cambiar_por_un_secreto_largo_y_unico
PORT=5020
ALLOWED_ORIGINS=http://localhost:3000,https://bacarguard.web.app,https://bacarguard.firebaseapp.com
